# Ignore build artifacts and temporary files
out/
build/
rom_mock
rom_mock_dbg
sbd-env/
ext/
liboqs/
rom/otp_pk.h

# Ignore VSCode settings if you don't want them in the repo
.vscode/

# Ignore any other OS-specific or editor files
*.swp
*.swo
.DS_Store

out/sign_runs.jsonl
out/sign_runs.csv
